

/* Left */
#Left{
	margin:0px;
	padding:0px;
	background-color:#d3ecff;
	border:1px solid #d3ecff;
}
#Left a{
	text-decoration:none;
	color:#000;
}
#Left a:hover{
	color:#888;
}
.p1{
	color:#fff;
	font-size:16px;
	line-height:50px;
	text-align:center;
	background-color:#09487d;
}
.p2{
	font-size:16px;
	line-height:50px;
	text-align:center;
	margin-top:-10px;
}
.p5{
	font-size:16px;
	line-height:50px;
	text-align:center;
	margin-top:-10px;
	background-color:#fff;
}
/* Right */
#Right{
	padding:0px;
}
.left{
	margin-left:20px;
}
.top{
	margin-top:15px;
}
.span2{
	font-size:16px;
	font-weight:bold;
	margin-left:20px;
}
.span4{
	font-size:16px;
	font-weight:bold;
}
.span3{
	font-size:16px;
	color:#09487d;
}
.kf{
	margin-top:40px;
}
.p4{
	line-height:25px;
	font-size:14px;
	color:#555;
}
.borderright{
	border-right:1px dashed #999;
}
.borderbottom{
	border-bottom:1px dashed #999;
	margin-bottom:15px;
}