.hr{
	width:80%;
	margin:0 auto;
}
#form{
	margin:0px;
	margin-left:20px;
}
.margin{
	margin:0px;
	margin-top:20px;
}
.bottom{
	margin-bottom:20px;
}
.p6{
	line-height:50px;
	text-indent:2em;
	color:#777;
	letter-spacing:2px;
}